@font-face {
  font-family: 'fa';  /* project id 1285444 */
  src: url('//at.alicdn.com/t/font_1285444_5qq7zfahhbc.eot');
  src: url('//at.alicdn.com/t/font_1285444_5qq7zfahhbc.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1285444_5qq7zfahhbc.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1285444_5qq7zfahhbc.woff') format('woff'),
  url('//at.alicdn.com/t/font_1285444_5qq7zfahhbc.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1285444_5qq7zfahhbc.svg#iconfont') format('svg');
}
.fa {
  font-family: fa;
  display: inline-block;
  width: 30px;
}
* {
  margin: 0;
  padding: 0;
}
@keyframes nav-hover {
  from {font-size:17px;}
  to {font-size:20px;}
}
@keyframes zoomAnimation {
  0% {
    text-shadow: 0 0 0 white;
    transform: scale(1);
  }
  30% {
    text-shadow: 0 0 5px white;
    transform: scale(1.1);
  }
  100% {
    text-shadow: 0 0 0 white;
    transform: scale(1);
  }
}
body {
  //background-image: url("../images/head/4.jpg");
}
#head {
  width: 100%;
  height: 500px;
  //background-color: #cccccc;
  text-align: center;
  cursor: pointer;
  .head-images {
    width: 100%;
    height: inherit;
    z-index: 1;
    img {
      width: 100%;
      height: inherit;
    }
    .img-info {
      position: absolute;
      top: 0;
      color: white;
      z-index: 1;
      width: 500px;
      margin-top: 15%;
      margin-left: 15%;
      text-align: left;
      line-height: 50px;
      .title {
        padding: 5px;
        font-size: xx-large;
      }
      .info {
        padding: 5px;
        font-size: x-large;
      }
      .button {
        margin: 5px;
        width: 200px;
        height: 50px;
        border: 1px solid;
        text-align: center;
      }
    }
  }
  .nav {
    position: absolute;
    width: 50%;
    height: 55px;
    top: 10px;
    right: 0;
    background-color: white;
    line-height: 50px;
    z-index: 2;
    background-color: rgba(0,0,0,0);
    color: white;
    ul {
      list-style: none;
      width: 100%;
      li {
        font-size: 17px;
        width: 145px;
        float: left;
        &:hover {
          font-size: 20px;
          animation: nav-hover 100ms linear;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
#middle {
  text-align: center;
  margin-top: 20px;
  .title {
    span {
      display: inline-block;
      border-left: 200px solid #dddddd;
      border-right: 200px solid #dddddd;
      line-height: 1px;
      text-align: center;
      width: 200px;
      margin: 20px 0;
      font-weight: bold;
    }
    b {
      color: orange;
    }
  }
  .products {
    width: 75%;
    //border: 1px solid #ddd;
    margin: 20px auto;
    .product {
      position: relative;
      display: inline-block;
      width: 400px;
      height: 250px;
      //border: 1px solid #ddd;
      margin: 20px 20px;
      img {
        width: 350px;
        height: 210px;
      }
      span {
        position: absolute;
        background-color: #3e3c3c;
        opacity: 0.5;
        bottom: 1px;
        left: 0;
        width: 100%;
        line-height: 30px;
        color: white;
      }
    }
  }
}
#bottom {
  width: 100%;
  bottom: 0;
  border-top: 1px solid #cbcbc4;
  text-align: center;
  .context {
    .strip {
      display: inline-block;
      width: 10%;
      margin: 20px;
      span {
        color: rgb(72, 72, 72) !important;
        font-size: 15px;
        font-weight: bold;
      }
      ul{
        margin-top: 20px;
        li {
          margin: 5px;
          list-style: none;
          color: #767676 !important;
          font-size: 15px;
          font-weight: bold;
          a {
            color: #767676 !important;
            text-decoration: none;
          }
        }
      }
    }
  }
  .base {
    width: 60%;
    height: 35px;
    border-top: 1px solid #cbcbc4;
    margin-left: 20%;
    img {
      width: 20px;
    }
    span {
      line-height: 30px;
      vertical-align: text-bottom;
      color:  #767676 !important;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
.relation {
  display: none;
  position: fixed;
  margin: auto;
  border: 1px solid #A5A5A5;
  width: 50%;
  top: 15%;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px gray;
  .top {
    border-bottom: 1px solid #A5A5A5;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    line-height: 35px;
    padding-left: 20px;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
    background-color: #45a3ad;
    span {
      right: 5px;
      position: absolute;
      font-size: 25px;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        animation-name: zoomAnimation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }
  }
  .context {
    text-align: center;
    .vertical {
      display: inline-block;
      margin: 25px;
      text-align: center;
      .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        background-color: rgba(0,0,0,0.1);
        color: #5c9ade;
        font-size: 20px;
      }
      .font {
        margin: 15px 0;
        color: #7b7575;
        font-weight: bold;
        font-size: 17px;
        span {
          display: inline-block;
          font-size: 12px;
          color: #7b7575;
          margin: 10px 0;
        }
      }
    }
  }
  .bottom {
    text-align: center;
    line-height: 100px;
    letter-spacing: 18px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #312f2f;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.box1 {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  margin: 100px auto;
  padding: 5px;
  .head-inner {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    ul{
      position: absolute;
      list-style: none;
      width: 1000%;
      left: 0;
      top: 0;
      li{
        float: left;
        img {
          width: 500px;
          height: 300px;
        }
      }
    }
    ol {
      position: absolute;
      height: 20px;
      right: 20px;
      bottom: 20px;
      text-align: center;
      padding: 5px;
      .current{
        background-color: red;
      }
      li {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        background-color: #fff;
        margin: 5px;
        cursor: pointer;
      }
    }
    .head-arr {
      span {
        width: 50px;
        height: 50px;
        position: absolute;
        font-weight: bold;
        font-family: '黑体';
        font-size: 30px;
        top: 50%;
        left: 5px;
        background: #fff;
        margin-top: -20px;
        text-align: center;
        line-height: 50px;
        color: #000;
        opacity: 0.5;
      }
      .arr-left {
        right: 5px;
        left: auto;
      }
    }
  }
}


