@font-face {
  font-family: 'fa';
  /* project id 1285444 */
  src: url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.eot');
  src: url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.woff2') format('woff2'), url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.woff') format('woff'), url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.ttf') format('truetype'), url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.svg#iconfont') format('svg');
}
.fa {
  font-family: fa;
  display: inline-block;
  width: 30px;
}
* {
  margin: 0;
  padding: 0;
}
@keyframes nav-hover {
  from {
    font-size: 17px;
  }
  to {
    font-size: 20px;
  }
}
#head {
  width: 100%;
  height: 500px;
  text-align: center;
  cursor: pointer;
}
#head .head-images {
  width: 100%;
  height: inherit;
  z-index: 1;
}
#head .head-images img {
  width: 100%;
  height: inherit;
}
#head .head-images .img-info {
  z-index: 1;
  width: 500px;
  margin-top: 15%;
  margin-left: 15%;
  text-align: left;
  line-height: 50px;
}
#head .head-images .img-info .title {
  padding: 5px;
  font-size: xx-large;
}
#head .head-images .img-info .info {
  padding: 5px;
  font-size: x-large;
}
#head .head-images .img-info .button {
  margin: 5px;
  width: 200px;
  height: 50px;
  border: 1px solid;
  text-align: center;
}
#head .nav {
  position: absolute;
  width: 50%;
  height: 55px;
  top: 10px;
  right: 0;
  background-color: white;
  line-height: 50px;
  z-index: 2;
}
#head .nav ul {
  list-style: none;
  width: 100%;
}
#head .nav ul li {
  font-size: 17px;
  width: 145px;
  float: left;
}
#head .nav ul li:hover {
  font-size: 20px;
  animation: nav-hover 100ms linear;
}
#head .nav ul li a {
  text-decoration: none;
  color: black;
}
#middle {
  text-align: center;
  margin-top: 20px;
}
#middle .title span {
  display: inline-block;
  border-left: 200px solid #dddddd;
  border-right: 200px solid #dddddd;
  line-height: 1px;
  text-align: center;
  width: 200px;
  margin: 20px 0;
}
#middle .products {
  width: 75%;
  border: 1px solid #ddd;
  height: 500px;
  margin: 20px auto;
}
#middle .products .product {
  display: inline-block;
  width: 350px;
  height: 210px;
  border: 1px solid #ddd;
  margin: 20px 20px;
}
#bottom {
  width: 100%;
  bottom: 0;
  border-top: 1px solid #cbcbc4;
  text-align: center;
}
#bottom .context .strip {
  display: inline-block;
  width: 10%;
  margin: 20px;
}
#bottom .context .strip span {
  color: #484848 !important;
  font-size: 15px;
  font-weight: bold;
}
#bottom .context .strip ul {
  margin-top: 20px;
}
#bottom .context .strip ul li {
  margin: 5px;
  list-style: none;
  color: #767676 !important;
  font-size: 15px;
  font-weight: bold;
}
#bottom .base {
  width: 60%;
  height: 35px;
  border-top: 1px solid #cbcbc4;
  margin-left: 20%;
}
#bottom .base img {
  width: 20px;
}
#bottom .base span {
  line-height: 30px;
  vertical-align: text-bottom;
  color: #767676 !important;
  font-size: 15px;
  font-weight: bold;
}
.box1 {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  margin: 100px auto;
  padding: 5px;
}
.box1 .head-inner {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
}
.box1 .head-inner ul {
  position: absolute;
  list-style: none;
  width: 1000%;
  left: 0;
  top: 0;
}
.box1 .head-inner ul li {
  float: left;
}
.box1 .head-inner ul li img {
  width: 500px;
  height: 300px;
}
.box1 .head-inner ol {
  position: absolute;
  height: 20px;
  right: 20px;
  bottom: 20px;
  text-align: center;
  padding: 5px;
}
.box1 .head-inner ol .current {
  background-color: red;
}
.box1 .head-inner ol li {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  margin: 5px;
  cursor: pointer;
}
.box1 .head-inner .head-arr span {
  width: 50px;
  height: 50px;
  position: absolute;
  font-weight: bold;
  font-family: '黑体';
  font-size: 30px;
  top: 50%;
  left: 5px;
  background: #fff;
  margin-top: -20px;
  text-align: center;
  line-height: 50px;
  color: #000;
  opacity: 0.5;
}
.box1 .head-inner .head-arr .arr-left {
  right: 5px;
  left: auto;
}
