@font-face {
  font-family: 'fa';
  /* project id 1285444 */
  src: url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.eot');
  src: url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.woff2') format('woff2'), url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.woff') format('woff'), url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.ttf') format('truetype'), url('//at.alicdn.com/t/font_1285444_aw4x4y1u1s.svg#iconfont') format('svg');
}
.fa {
  font-family: fa;
  display: inline-block;
  width: 30px;
}
* {
  margin: 0;
  padding: 0;
}
#head {
  width: 100%;
  height: 500px;
  text-align: center;
  cursor: pointer;
}
#head .head-images {
  width: 100%;
  height: inherit;
}
#head .head-images img {
  width: 100%;
  height: inherit;
}
#head .nav {
  position: absolute;
  width: 50%;
  height: 55px;
  top: 10px;
  right: 0;
  background-color: white;
  line-height: 50px;
}
#head .nav ul {
  list-style: none;
  width: 100%;
}
#head .nav ul li {
  font-size: 17px;
  width: 145px;
  float: left;
}
#head .nav ul li:hover {
  font-size: 20px;
}
.box1 {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  margin: 100px auto;
  padding: 5px;
}
.box1 .head-inner {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
}
.box1 .head-inner ul {
  position: absolute;
  list-style: none;
  width: 1000%;
  left: 0;
  top: 0;
}
.box1 .head-inner ul li {
  float: left;
}
.box1 .head-inner ul li img {
  width: 500px;
  height: 300px;
}
.box1 .head-inner ol {
  position: absolute;
  height: 20px;
  right: 20px;
  bottom: 20px;
  text-align: center;
  padding: 5px;
}
.box1 .head-inner ol .current {
  background-color: red;
}
.box1 .head-inner ol li {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  margin: 5px;
  cursor: pointer;
}
.box1 .head-inner .head-arr span {
  width: 50px;
  height: 50px;
  position: absolute;
  font-weight: bold;
  font-family: '黑体';
  font-size: 30px;
  top: 50%;
  left: 5px;
  background: #fff;
  margin-top: -20px;
  text-align: center;
  line-height: 50px;
  color: #000;
  opacity: 0.5;
}
.box1 .head-inner .head-arr .arr-left {
  right: 5px;
  left: auto;
}
